body {
    height: 100%;
}

.editor {
    height: 100%;
}

.editor > div {
    padding: 3px;
    border: 1px solid #eee;
    position: absolute;
    top: 10px;
    left: 200px;
    right: 5px;
    bottom: 15px;
    height: auto;
}

.fullscreen .editor > div {
    left: 5px;
}

.separator {
    position: absolute;
    top: 10px;
    left: 195px;
    border-left:2px dotted #dedede;
    bottom: 15px;
    cursor: pointer;
}

.fullscreen .separator {
    left: 2px;
}

.webparts {
    border: 1px solid #eee;
    padding: 2px 1px;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 188px;
    bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    margin: 0;
    padding: 4px;
    border: 0;
    background-color: #eee;
    cursor: default;
    font-size: 14px;
}
.header.other-files {
    font-size: 12px;
}

.files {
    padding: 2px 1px;
    border: 1px solid #eee;
    margin-bottom: 12px;
}

.fullscreen .files {
    display: none;
}

.files > div {
    margin: 2px 2px;
    padding: 2px 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 16px;
}
.files > div:hover {
    border: 1px solid #e7e6ea;
}

.files > div.current {
    color: #17168a;
    border: 1px solid #d7d6da;
    background-color: #f4f3f8;
}

.files > div a {
    display: none;
}

.files > div.current a {
    display: block;
    float: right;
    width: 10px;
}
.files > div.current a:hover {
    text-decoration: none;
}

.files > div.current a.remove-button {
    font-size: 8px;
    color: #6a1617;
}

.files > div.current a.publish-button {
    font-size: 16px;
    margin-right: 6px;
    color: #777;
}

.files > div.current.published a.publish-button {
    color: rgb(137, 213, 64);
}

.files > div.justcreated {
    color: #175a16;
    background-color: #d9eed6;
}

.files > div.add {
    font-weight: bold;
    color: #e7e6ea;
    background-color: transparent;
    font-size: 16px;
}
.files > div.add > .hint {
    color: #aaa;
    font-size: 11px;
    font-weight: normal;
    display: block;
}

.files > div.add.adding {
    cursor: default;
}

.files > div.add input {
    font-size: 12px;
    color: #000;
    width: 130px;
    margin-top: 4px;
    margin-left: 2px;
    font-weight: normal;
}
.files > div.add > div {
    display: inline;
}
.files > div.add > div > div {
    font-weight: normal;
    font-size: 11px;
    color: #888;
    margin-top: 4px;
    margin-left: 16px;
}

.files > div.add .change-path {
    border-bottom: 1px dashed #008693;
    cursor: pointer;
}

.tooltip-inner {
    max-width:400px;
    color: #555;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: left;
}
.tooltip-arrow {
    visibility: hidden;
}
.tooltip-docComment {
    color: #555;
}
.tooltip-docComment:not(:empty) {
    border-top: 1px solid #999;
}

.term {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #eee;
    padding-left: 5px;
    padding-right: 5px;
}

.syntax-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
    background-position: bottom left;
    background-repeat: repeat-x;
}